@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
body{
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}
:root{
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
}

.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.btn{
    text-decoration: none;
    color: var(--MediumGray);
}
.btn-transparent{
    border: 1px solid var(--MediumGray);
    border-radius: 10px;
    padding: .9rem 1.2rem;
}